In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import *

In [2]:
form13f_FF4 = pd.read_csv('data/form13f_FF4.csv', sep = '\t')
fund_prices_FF = pd.read_csv('data/fund_prices_FF.csv', sep = '\t')

In [3]:
form13f_FF4["iFILING_DATE"]= pd.to_datetime(form13f_FF4["iFILING_DATE"]).dt.date
form13f_FF4["iPERIOD_END"]= pd.to_datetime(form13f_FF4["iPERIOD_END"]).dt.date
fund_prices_FF["pSP_DATE"]= pd.to_datetime(fund_prices_FF["pSP_DATE"]).dt.date

In [4]:
form13f_FF4.head(200)
# 每个基金公司每6.30，9.30，12.31，3.31的股票hodings按时间序列排下来！
# 一个基金公司所有拉完再换下一个公司

,iRECORD_ID,iCIK,iCUSIP,iPERIOD_END,iFILING_DATE,iQTY,iMARKET_VALUE,iLONG_FRACTION,FILING_INTERVAL,sector,value_size,pSP_CLOSE_x,shares,filing_3mos,pSP_CLOSE_y,market_V_3mos,buy,sell
0,39276296,7195,219350105,2013-06-30,2013-08-12,302325.0,4302000.0,0.018715,43 days,Materials,Large-Cap Value,15.110,284712.111185,2013-05-01,14.330,4.079925e+06,4302000,0
1,39276307,7195,452308109,2013-06-30,2013-08-12,69101.0,4780000.0,0.020794,43 days,Industrial,Large-Cap Blend,73.520,65016.322089,2013-05-01,63.870,4.152592e+06,4780000,0
2,39276330,7195,907818108,2013-06-30,2013-08-12,33615.0,5186000.0,0.022561,43 days,Materials,MidCap Growth,79.585,65163.033235,2013-05-01,72.835,4.746150e+06,5186000,0
3,39276309,7195,458140100,2013-06-30,2013-08-12,189457.0,4591000.0,0.019972,43 days,Technology,Large-Cap Growth,22.640,202782.685512,2013-05-01,23.990,4.864757e+06,4591000,0
4,39276310,7195,459200101,2013-06-30,2013-08-12,21721.0,4151000.0,0.018058,43 days,Energy,Small-Cap Blend,189.090,21952.509387,2013-05-01,199.630,4.382379e+06,4151000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,48825023,7195,863667101,2014-03-31,2014-04-14,58618.0,4776000.0,0.019611,14 days,Technology,Large-Cap Growth,79.800,59849.624060,2014-01-30,78.140,4.676650e+06,274000,0
196,48825005,7195,G47791101,2014-03-31,2014-04-14,67158.0,3844000.0,0.015784,14 days,Industrial,MidCap Blend,55.260,69562.070214,2014-01-30,59.030,4.106249e+06,0,958000
197,48824973,7195,717081103,2014-03-31,2014-04-14,158122.0,5079000.0,0.020855,14 days,Health Care,MidCap Growth,29.870,170036.826247,2014-01-30,30.820,5.240535e+06,219000,0
198,48824976,7195,452308109,2014-03-31,2014-04-14,62051.0,5047000.0,0.020724,14 days,Industrial,Large-Cap Blend,81.640,61820.186183,2014-01-30,79.290,4.901723e+06,0,288000
199,48824994,7195,747525103,2014-03-31,2014-04-14,60005.0,4732000.0,0.019430,14 days,Energy,Small-Cap Blend,79.140,59792.772302,2014-01-30,73.260,4.380418e+06,150000,0

In [5]:
form13f_FF4

,iRECORD_ID,iCIK,iCUSIP,iPERIOD_END,iFILING_DATE,iQTY,iMARKET_VALUE,iLONG_FRACTION,FILING_INTERVAL,sector,value_size,pSP_CLOSE_x,shares,filing_3mos,pSP_CLOSE_y,market_V_3mos,buy,sell
0,39276296,7195,219350105,2013-06-30,2013-08-12,302325.0,4302000.0,0.018715,43 days,Materials,Large-Cap Value,15.110,284712.111185,2013-05-01,14.330,4.079925e+06,4302000,0
1,39276307,7195,452308109,2013-06-30,2013-08-12,69101.0,4780000.0,0.020794,43 days,Industrial,Large-Cap Blend,73.520,65016.322089,2013-05-01,63.870,4.152592e+06,4780000,0
2,39276330,7195,907818108,2013-06-30,2013-08-12,33615.0,5186000.0,0.022561,43 days,Materials,MidCap Growth,79.585,65163.033235,2013-05-01,72.835,4.746150e+06,5186000,0
3,39276309,7195,458140100,2013-06-30,2013-08-12,189457.0,4591000.0,0.019972,43 days,Technology,Large-Cap Growth,22.640,202782.685512,2013-05-01,23.990,4.864757e+06,4591000,0
4,39276310,7195,459200101,2013-06-30,2013-08-12,21721.0,4151000.0,0.018058,43 days,Energy,Small-Cap Blend,189.090,21952.509387,2013-05-01,199.630,4.382379e+06,4151000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334078,65828192,1653866,406216101,2018-06-30,2018-07-17,25045.0,1129000.0,0.002557,17 days,Energy,Small-Cap Blend,45.060,25055.481580,2018-05-01,52.440,1.313909e+06,0,67000
334079,65828136,1653866,78467X109,2018-06-30,2018-07-17,6346.0,1540000.0,0.003488,17 days,Financial,Large-Cap Blend,251.280,6128.621458,2018-05-01,240.760,1.475527e+06,8000,0
334080,65828101,1653866,06740L444,2018-06-30,2018-07-17,74198.0,1407000.0,0.003187,17 days,Energy,Small-Cap Growth,19.330,72788.411795,2018-05-01,20.840,1.516911e+06,0,1000
334081,65828107,1653866,370334104,2018-06-30,2018-07-17,10823.0,479000.0,0.001085,17 days,Communications,MidCap Value,44.230,10829.753561,2018-05-01,43.550,4.716358e+05,479000,0
334082,65828140,1653866,H2906T109,2018-06-30,2018-07-17,4000.0,244000.0,0.000553,17 days,Materials,Small-Cap Blend,64.060,3808.929129,2018-05-01,58.990,2.246887e+05,244000,0

In [6]:
fund_prices_FF.head(1000)
# 每天的所有股票，每天的都列完了才换下一天

,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE
0,464287150,N,ISI,2013-01-01,0,7.645,7.645,7.645,7.6450
1,78464A847,N,EMM,2013-01-01,0,0.990,0.990,0.990,0.9870
2,78464A854,N,ELR,2013-01-01,0,31.270,31.270,31.270,31.2681
3,74347R479,N,UVT,2013-01-01,0,0.940,0.940,0.940,0.9400
4,78464A805,N,TMW,2013-01-01,0,4.324,4.324,4.324,4.3240
...,...,...,...,...,...,...,...,...,...
995,858119100,O,STLD,2013-01-02,2265977,14.140,14.310,14.040,14.2800
996,852857200,O,STMP,2013-01-02,191041,25.830,26.250,25.490,26.1600
997,73937B779,N,SPLV,2013-01-02,1354997,25.280,25.480,25.260,25.4841
998,29101U209,A,EOX,2013-01-02,193633,5.390,5.480,5.170,5.2700
999,43689E107,O,HBCP,2013-01-02,33875,18.250,18.800,18.180,18.5100

- features are calculated for each stock
- Good funds:

In [7]:
fund_prices_FF.sort_values(by=["pSP_CUSIP", "pSP_DATE"], inplace = True, ascending = True)
fund_prices_FF.head(1323)

,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE
3458,000360206,O,AAON,2013-01-02,501014,9.50667,9.60000,9.33778,9.45333
6677,000360206,O,AAON,2013-01-03,344691,9.44444,9.74667,9.38222,9.61778
11276,000360206,O,AAON,2013-01-04,141260,9.66222,9.69778,9.54667,9.66667
13870,000360206,O,AAON,2013-01-07,131920,9.60444,9.68889,9.53778,9.56000
17134,000360206,O,AAON,2013-01-08,108608,9.57778,9.64000,9.42222,9.58222
...,...,...,...,...,...,...,...,...,...
5362260,000360206,O,AAON,2018-03-28,209994,38.00000,38.65000,37.90000,38.60000
5362931,000360206,O,AAON,2018-03-29,267654,38.75000,39.60000,38.45000,39.00000
5367760,000360206,O,AAON,2018-04-02,183535,38.90000,39.02500,36.85000,37.15000
5370772,000360206,O,AAON,2018-04-03,330716,37.30000,37.40000,35.60100,36.35000
5374497,000360206,O,AAON,2018-04-04,319746,35.80000,36.35000,35.45000,35.85000

In [8]:
fund_dates = form13f_FF4["iPERIOD_END"].unique()
fund_dates

array([datetime.date(2013, 6, 30), datetime.date(2013, 9, 30),
       datetime.date(2013, 12, 31), datetime.date(2014, 3, 31),
       datetime.date(2014, 6, 30), datetime.date(2014, 9, 30),
       datetime.date(2014, 12, 31), datetime.date(2015, 3, 31),
       datetime.date(2015, 6, 30), datetime.date(2015, 9, 30),
       datetime.date(2015, 12, 31), datetime.date(2016, 3, 31),
       datetime.date(2016, 6, 30), datetime.date(2016, 9, 30),
       datetime.date(2016, 12, 31), datetime.date(2017, 3, 31),
       datetime.date(2017, 6, 30), datetime.date(2017, 9, 30),
       datetime.date(2017, 12, 31), datetime.date(2018, 3, 31),
       datetime.date(2018, 6, 30)], dtype=object)

In [9]:
fund_prices_FD = fund_prices_FF[fund_prices_FF["pSP_DATE"].isin(fund_dates)].reset_index()
fund_prices_FD

,index,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE
0,762571,000360206,O,AAON,2013-09-30,397642,17.7333,17.9867,17.4733,17.7067
1,1031537,000360206,O,AAON,2013-12-31,228070,21.6467,21.7200,21.2267,21.3000
2,1286190,000360206,O,AAON,2014-03-31,175732,18.4667,18.8633,18.3007,18.5800
3,1550178,000360206,O,AAON,2014-06-30,188641,22.0733,22.4333,21.8200,22.3467
4,1820803,000360206,O,AAON,2014-09-30,307732,17.4400,17.5800,17.0000,17.0100
...,...,...,...,...,...,...,...,...,...,...
61919,3407325,Y9384M101,N,VTTI,2016-03-31,128149,19.0000,19.5700,18.5000,18.5000
61920,3670490,Y9384M101,N,VTTI,2016-06-30,112370,19.6600,20.5500,19.1000,20.3000
61921,3925842,Y9384M101,N,VTTI,2016-09-30,34542,19.0300,19.1500,18.6300,19.0100
61922,4420545,Y9384M101,N,VTTI,2017-03-31,92807,19.0000,19.0000,18.8550,19.0000
61923,4660358,Y9384M101,N,VTTI,2017-06-30,392016,19.6000,19.6500,19.5500,19.6500

In [10]:
form13f_FF4 = form13f_FF4.sort_values(['iPERIOD_END', 'iCIK'])

In [11]:
form13f_FF4

,iRECORD_ID,iCIK,iCUSIP,iPERIOD_END,iFILING_DATE,iQTY,iMARKET_VALUE,iLONG_FRACTION,FILING_INTERVAL,sector,value_size,pSP_CLOSE_x,shares,filing_3mos,pSP_CLOSE_y,market_V_3mos,buy,sell
0,39276296,7195,219350105,2013-06-30,2013-08-12,302325.0,4302000.0,0.018715,43 days,Materials,Large-Cap Value,15.110,284712.111185,2013-05-01,14.330,4.079925e+06,4302000,0
1,39276307,7195,452308109,2013-06-30,2013-08-12,69101.0,4780000.0,0.020794,43 days,Industrial,Large-Cap Blend,73.520,65016.322089,2013-05-01,63.870,4.152592e+06,4780000,0
2,39276330,7195,907818108,2013-06-30,2013-08-12,33615.0,5186000.0,0.022561,43 days,Materials,MidCap Growth,79.585,65163.033235,2013-05-01,72.835,4.746150e+06,5186000,0
3,39276309,7195,458140100,2013-06-30,2013-08-12,189457.0,4591000.0,0.019972,43 days,Technology,Large-Cap Growth,22.640,202782.685512,2013-05-01,23.990,4.864757e+06,4591000,0
4,39276310,7195,459200101,2013-06-30,2013-08-12,21721.0,4151000.0,0.018058,43 days,Energy,Small-Cap Blend,189.090,21952.509387,2013-05-01,199.630,4.382379e+06,4151000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334078,65828192,1653866,406216101,2018-06-30,2018-07-17,25045.0,1129000.0,0.002557,17 days,Energy,Small-Cap Blend,45.060,25055.481580,2018-05-01,52.440,1.313909e+06,0,67000
334079,65828136,1653866,78467X109,2018-06-30,2018-07-17,6346.0,1540000.0,0.003488,17 days,Financial,Large-Cap Blend,251.280,6128.621458,2018-05-01,240.760,1.475527e+06,8000,0
334080,65828101,1653866,06740L444,2018-06-30,2018-07-17,74198.0,1407000.0,0.003187,17 days,Energy,Small-Cap Growth,19.330,72788.411795,2018-05-01,20.840,1.516911e+06,0,1000
334081,65828107,1653866,370334104,2018-06-30,2018-07-17,10823.0,479000.0,0.001085,17 days,Communications,MidCap Value,44.230,10829.753561,2018-05-01,43.550,4.716358e+05,479000,0
334082,65828140,1653866,H2906T109,2018-06-30,2018-07-17,4000.0,244000.0,0.000553,17 days,Materials,Small-Cap Blend,64.060,3808.929129,2018-05-01,58.990,2.246887e+05,244000,0

In [12]:
form13f_FF4['iFILING_DATE']

0         2013-08-12
1         2013-08-12
2         2013-08-12
3         2013-08-12
4         2013-08-12
             ...
334078    2018-07-17
334079    2018-07-17
334080    2018-07-17
334081    2018-07-17
334082    2018-07-17
Name: iFILING_DATE, Length: 334083, dtype: object

In [13]:
fund_prices_FD['x1'] = 0
fund_prices_FD

,index,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE,x1
0,762571,000360206,O,AAON,2013-09-30,397642,17.7333,17.9867,17.4733,17.7067,0
1,1031537,000360206,O,AAON,2013-12-31,228070,21.6467,21.7200,21.2267,21.3000,0
2,1286190,000360206,O,AAON,2014-03-31,175732,18.4667,18.8633,18.3007,18.5800,0
3,1550178,000360206,O,AAON,2014-06-30,188641,22.0733,22.4333,21.8200,22.3467,0
4,1820803,000360206,O,AAON,2014-09-30,307732,17.4400,17.5800,17.0000,17.0100,0
...,...,...,...,...,...,...,...,...,...,...,...
61919,3407325,Y9384M101,N,VTTI,2016-03-31,128149,19.0000,19.5700,18.5000,18.5000,0
61920,3670490,Y9384M101,N,VTTI,2016-06-30,112370,19.6600,20.5500,19.1000,20.3000,0
61921,3925842,Y9384M101,N,VTTI,2016-09-30,34542,19.0300,19.1500,18.6300,19.0100,0
61922,4420545,Y9384M101,N,VTTI,2017-03-31,92807,19.0000,19.0000,18.8550,19.0000,0
61923,4660358,Y9384M101,N,VTTI,2017-06-30,392016,19.6000,19.6500,19.5500,19.6500,0

In [14]:
# 
for index, row in fund_prices_FD.iterrows():
    stock_id = row['pSP_CUSIP']
    date = row['pSP_DATE']
#     print(stock_id, date)
#     print(type(stock_id), type(date))
    stock_df = form13f_FF4[(form13f_FF4['iPERIOD_END'] == date) & (form13f_FF4['iCUSIP'] == stock_id)]
#     print(len(stock_df))
    fund_prices_FD.at[index, 'x1'] = len(stock_df)

In [15]:
fund_prices_FD.head(1000)

,index,pSP_CUSIP,pSP_EXCHANGE,pSP_TICKER,pSP_DATE,pSP_VOLUME,pSP_OPEN,pSP_HIGH,pSP_LOW,pSP_CLOSE,x1
0,762571,000360206,O,AAON,2013-09-30,397642,17.7333,17.9867,17.4733,17.7067,1
1,1031537,000360206,O,AAON,2013-12-31,228070,21.6467,21.7200,21.2267,21.3000,0
2,1286190,000360206,O,AAON,2014-03-31,175732,18.4667,18.8633,18.3007,18.5800,0
3,1550178,000360206,O,AAON,2014-06-30,188641,22.0733,22.4333,21.8200,22.3467,0
4,1820803,000360206,O,AAON,2014-09-30,307732,17.4400,17.5800,17.0000,17.0100,0
...,...,...,...,...,...,...,...,...,...,...,...
995,1821964,00751Y106,N,AAP,2014-09-30,781273,130.8400,131.0900,129.0100,130.3000,3
996,2095991,00751Y106,N,AAP,2014-12-31,457357,160.6400,162.6940,159.2600,159.2800,4
997,2354243,00751Y106,N,AAP,2015-03-31,887737,151.8000,152.5700,149.4800,149.6900,3
998,2618778,00751Y106,N,AAP,2015-06-30,789623,160.4100,160.7300,158.0300,159.2900,3
999,2887313,00751Y106,N,AAP,2015-09-30,4119561,183.4900,192.5000,183.4800,189.5300,2

In [21]:
df_X1 = fund_prices_FD.drop(['index', 'pSP_EXCHANGE', 'pSP_TICKER', 'pSP_VOLUME', 'pSP_OPEN', 'pSP_HIGH', 'pSP_LOW', 'pSP_CLOSE'], axis = 1)
df_X1

       pSP_CUSIP    pSP_DATE  x1
0      000360206  2013-09-30   1
1      000360206  2013-12-31   0
2      000360206  2014-03-31   0
3      000360206  2014-06-30   0
4      000360206  2014-09-30   0
...          ...         ...  ..
61919  Y9384M101  2016-03-31   0
61920  Y9384M101  2016-06-30   0
61921  Y9384M101  2016-09-30   0
61922  Y9384M101  2017-03-31   0
61923  Y9384M101  2017-06-30   0

[61924 rows x 3 columns]

In [26]:
df_X1.rename(columns = {'pSP_CUSIP':'iCUSIP', 'pSP_DATE': 'iPERIOD_END'}, inplace=True)
df_X1.head(100)

       iCUSIP iPERIOD_END  x1
0   000360206  2013-09-30   1
1   000360206  2013-12-31   0
2   000360206  2014-03-31   0
3   000360206  2014-06-30   0
4   000360206  2014-09-30   0
..        ...         ...  ..
95  001031103  2015-12-31   0
96  001031103  2016-03-31   0
97  001031103  2016-06-30   0
98  001031103  2016-09-30   1
99  001055102  2013-09-30  26

[100 rows x 3 columns]

In [27]:
df_X1.to_csv("data/x1.csv", sep='\t', index=False)